@font-face {
    font-family: zag; /* Имя шрифта */
    src: url(../shrift/zag.ttf); /* Путь к файлу со шрифтом */
   }
 @font-face {
 font-family: naz; /* Имя шрифта */
    src: url(../shrift/naz.otf); /* Путь к файлу со шрифтом */
  }
body{
  background-image: url("../photo/fon.jpg");
}
.text{
  text-align:center; 
  color: black;
  position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 70%;
    top: 2%;
    font-size: 2vw;
    font-weight: 900;
    font-family: zag;
}

.container {
  position: absolute;
  left:0.5%;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1vw;
  text-decoration: none;
  font-size: 1vw;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.dropbtn {
  background-color: #333;
  color: white;
  padding: 1vw 1vw;
  font-size: 1vw;
  border: none;
}

.dropdown {
  position: absolute;
  left:7%;
  width: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1vw 1vw;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;
color:black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ddd;
color:black;}




img {
  vertical-align: middle;
}


.container_photo {
  position: relative;
}

.mySlides {
  display: none;
  text-align:center; 
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 1vw;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 1)
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: black;
  font-size: 1vw;
  padding: 0.3vw 0.5vw;
  text-align: center;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  font-family: naz;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}